<header>
  <div class="title">
    <%= link_to  'Testguru | Admin Panel', admin_tests_path, method: :get %>
  </div>
  <div class="right-nav-bar">
    <% if user_signed_in? %>
      <p>Добро пожаловать, <b><%= current_user.email %></b>|
        <%= button_to  "Выйти", destroy_user_session_path, method: :delete %></p>
    <% else %>
      <%= link_to  'Зарегистрироваться', new_user_registration_path %>
    <% end %>
  </div>
</header>