<tr>
  <td scope="row"><%= badge.name %></td>
  <td ><img src="<%= badge.file %>" class="img-thumbnail rounded-circle"
            width="100" height="100"></td>
  <td scope="row"><%= badge.reason %></td>
</tr>
</tr>