<tr>
  <td scope="row"><%= link_to gist.question.body.truncate(25), admin_question_path(gist.question), method: :get %></td>
  <td><%= link_to gist.gist_url.split('/').last, gist.gist_url, target: '_blank'%></td>
  <td><%= gist.user.email %></td>
</tr>