<footer>
  <p><%= current_year %></p>
  <p>Loginov Dmitry</p>
  <p>Приложение для прохождения тестов</p>
  <%= github_url('shrek4495', 'test') %>
  <a href="https://thinknetica.com/">"Учебный проект в онлайн-школе Thinknetica"</a>
</footer>