<footer class="fixed-bottom row justify-content-center ml-3">
  <div class="col-1"><%= current_year %></p></div>
  <div class="col">Loginov Dmitry</div>
  <div class="col-3">Приложение для прохождения тестов</div>
  <div class="col"><%= github_url('shrek4495', 'test') %></div>
  <div class="col-4">
    <a href="https://thinknetica.com/">
      "Учебный проект в онлайн-школе Thinknetica"</a>
  </div>
</footer>