<tr>
  <td> <%= answer.body %> </td>
  <td> <%= answer.correct ? 'Верный' : 'Не верный' %></td>
  <td> <%= link_to  "Изменить", edit_admin_answer_path(answer), method: :get %> </td>
  <td> <%= link_to  "Удалить", admin_answer_path(answer), method: :delete, data: {confirm: 'Вы уверены?'} %> </td>
</tr>