<h1><%= @question.body %></h1>
<% if @answers.present? %>
  <table class="table table-bordered mt-3">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Корректность</th>
      <th colspan="2">Действия</th>
    </tr>
    </thead>
    <tbody>
    <%= render @answers %>
    </tbody>
  </table>
<% else %>
  <p>Нет доступных ответов для теста</p>
<% end %>
<%= link_to  "Добавить ответ", new_admin_question_answer_path(@question)%>
<%= link_to  "Назад к тесту", admin_test_path(@question.test), method: :get %>