<h2>Тест: <%= @test.title %></h2>
<% if @questions.present? %>
  <table>
    <tr>
      <th>Название</th>
      <th colspan="3">Действия</th>
    </tr>
    <%= render @questions %>
  </table>
<% else %>
  <p>Нет доступных вопросов для теста</p>
<% end %>
<%= link_to  "Назад к тестам", admin_tests_path, method: :get %>
<%= link_to  "Добавить вопрос", new_admin_test_path(@test)%>